//====================================================================================================
.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
	&__wraper {
		height: 60px;
	}

	&__container {
		display: flex;
		align-items: center;
		height: inherit;
		
	}

	&__logo {
		flex: 1 0 auto;
		@media (max-width: em(370)) {
		position: relative;
		width: 126px;
		height: 30px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 126px;
			height: 30px;
			object-fit: fill;
			};
		}
	}

	&__options {
		flex: 0 1 auto;
		display: flex;
		align-items: center;
		position: relative;
	}

	&__menu {
		@include adaptiveValueREM('margin-right', 50,15, 1200, 768, 1);
		@media (max-width: $mobile) {
			position: absolute;
			top: 60px;
			right: -100%;
			height: 100vh;
			background-color: $blue;
			padding: 31px;
			z-index: 50;
			margin-right: unset;
			transition: all 0.3s ease 0s;
			&.open{
				right: 0;
			}
		}
		@media (max-width: $mobileSmall) {
		padding: 31px 21.5px;
		}
	}

	&__burger{
		display: none;
		@media (max-width: $mobile) {
		display: block;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		font-size: $menuSize;
		font-weight: 500;
		line-height: 1.26;
	}

	&__language {
		position: relative;
		height: 60px;
		background-color: $blue;
		color: #fff;
		display: flex;
		align-items: center;
		text-transform: capitalize;
		transition: all 0.5s ease 0s;
		&:hover, .active{
			.language__select{
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
				&:not(:first-child){
					top: calc(100% - 11px);
				}
			}
		}
	}

	&__donate {
		height: 60px;
		display: flex;
		align-items: center;
		padding: 0 20px;
		background-color: $yellow;
		color: $mainColor;
		font-size: $menuSize;
		transition: all 0.3s ease 0s;
		&:hover{
			svg{
				path{
					&:first-child{
						fill: $mainColor;
					}
				}
			}
		}
		.donate{
		}
		svg{
			margin-right: 10px;
			transition: all 1s ease 0s;
			path{
				transition: all 1s ease 0s;
				&:first-child{
					transition: all 1s ease 0s;
					fill: none;
				}
			}
			@media (max-width: $mobile) {
			display: none;
			}
		}
		@media (max-width: $mobileSmall) {
		padding: 0 10px;
		}
	}
}
.menu {

	&__list {
		display: grid;
		grid-template-columns: repeat(6, min-content);
		white-space: nowrap;
		@include adaptiveValueREM('column-gap', 35,15, 1200, 992, 1);
		//@include adaptiveValueREM('column-gap', 50,15, 768, 320, 1);
		@media (max-width: $tablet) {
			grid-template-columns: repeat(3, min-content);
			row-gap: 15px;
			grid-template-rows: auto auto;
		}
		@media (max-width: $mobile) {
			grid-template-columns: auto;
			grid-template-rows: repeat(6, 35px);
		}
	}

	&__item {
	}

	&__link {
		font-size: $menuSize;
		font-weight: 500;
		line-height: 1.26;
		color: $mainColor;
		position: relative;
		transition: all 0.3s ease 0s;
		&::after{
			content: '';
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 0%;
			height: 3px;
			background-color: $yellow;
			transition: all 0.3s ease 0s;
		}
		&:hover {
			color: $yellow;
			&::after{
				width: 100%;
			}
		}
		@media (max-width: $mobile) {
			color: #fff;
		}
	}
}
.language {

	&__select {
		background-color: $blue;
		color: #fff;
		padding: 0 5px;
		transition: all 0.5s ease 0s;
		&:not(:first-child){
			position: absolute;
			top: 110%;
			left: 0;
			padding: 11px 5px 21px 5px; 
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}
	}

	&__link {
	}

	&__text {
		min-width: 22px;
		text-align: center;
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	margin-right: 30px;
	@media (max-width: $mobileSmall) {
		margin-right: 10px;
		margin-left: 10px;
	}
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		&.open  {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}

