/*==========================BANER==========================*/
.baner {
   position: relative;
   margin-top: 60px;
   background-image: url('/img/home/main-baner.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   margin-bottom: 60px;
   @media (max-width: $mobile) {
   margin-bottom: 30px;
   }
   @media (max-width: $mobileSmall) {
      background-position-x: 55%;
   }
   &__container {
      position: relative;
      padding-bottom: 26.042%;
      @media (max-width: $mobileSmall) {
         padding-bottom: 75%;
      }
      &::before{
         content: '';
         position: absolute;
         top: 0%;
         left: 0px;
         width: 12px;
         height: 100%;
         background-color: $yellow;
         display: none;
         @media (max-width: $mobile) {
         display: block;
         }
      }
   }

   &__body {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 50%;
      
      max-width: 600px;
      line-height: 1.257;
      &::before{
         content: '';
         position: absolute;
         top: 0%;
         left: -35px;
         width: 12px;
         height: 276px;
         background-color: $yellow;
      }
      @media (max-width: em(1400)) {
      max-width: 100%;
      &::before{
         height: 100%;
      }
      }
      @media (max-width: em(1250)) {
         margin-left: 35px;
      }
      @media (max-width: $mobile) {
      margin-left: 0;
      &::before{
         display: none;
      }
      }
      @media (max-width: $mobileSmall) {
      top: 80%;
      //transform: translateY(0%);
      }
      @media (max-width: em(333)) {
         top: 80%;
      }
   }


	&__social {
      position: absolute;
      bottom: 20px;
      right: 20px;
      display: flex;
      @media (max-width: $mobile) {
         display: none;
      }
	}

	&__facebook {
      margin-right: 15px;
      cursor: pointer;
	}

	&__instagram {
      cursor: pointer;
	}



   &__items{
      
   }

   &__title {
      @include adaptiveValueREM('font-size', 70,22);
      font-weight: 700;
      color: #fff;
      
     @include adaptiveValueREM('margin-bottom', 40,10,1200, 768, 1);
     @include adaptiveValueREM('margin-left', 40,10,479, 320, 0);
   }

   &__donate {
      @include adaptiveValueREM('margin-left', 40,10,479, 320, 0);
      img{
         display: inline-block;
         margin-right: 10px;
         line-height: 1.25;
         color: $mainColor;
         @media (max-width: $mobileSmall) {
            margin-right: 2px;
         }
      }
      span{
         font-weight: 500;
         @media (max-width: $mobile) {
            font-size: rem(14);
         }
      }
      @media (max-width: $mobileSmall) {
      position: absolute;
      //bottom: 15%  ;
      }
   }

   &__donate-button {
      padding: 10px 25px;
      background-color: #fff;
      position: relative;
      &:not(:last-child){
         margin-right: 20px;
      }
      @media (max-width: $mobile) {
         padding: 10px 10px;
         &:not(:last-child){
            margin-right: 10px;
         }
      }
      @media (max-width: $mobileSmall) {
         padding: 3px 3px;
         &:not(:last-child){
            margin-right: 5px;
         }
      }
   }
}
/*==========================BANER==========================*/

/*==========================WHO==========================*/
.who {
   position: relative;
   margin-bottom: 100px;
   @media (max-width: $mobile) {
   margin-bottom: 60px;
   }
   &__container {
   }

   &__body {
      display: flex;
      justify-content: space-between;
      @media (max-width: $tablet) {
      align-items: center;
      }
      @media (max-width: $mobile) {
      flex-direction: column;
      }
   }

   &__item{
      &:first-child{
         @media (max-width: $mobile) {
            margin-bottom: 25px;
         }
      }
   }

   &__title {
      @include adaptiveValueREM('font-size', 50,24);
      color: $title;
      font-weight: 800;
      min-width: 180px;
      line-height: 1.26;
      margin-right: 120px;
      margin-bottom: 55px;
      @media (max-width: $mobile) {
      max-width: 100%;
      text-align: center;
      margin-right: 0;
      margin-bottom: 20px;
      }
   }

   &__text {
      width: 100%;
      color: $text;
      line-height: 1.8;
      p{
         &:not(:last-child){
         margin-bottom: 35px;
         }
      }
      @media (max-width: $mobile) {
      text-align: center;
      }
   }
   
}
/*==========================WHO==========================*/

/*==========================HELP==========================*/
.help {
   margin-bottom: 100px;
   @media (max-width: $mobile) {
   margin-bottom: 60px;
   }

   &__container {
   }

   &__title {
      text-align: center;
      font-weight: 800;
      @include adaptiveValueREM('font-size', 50,24);
      color: $title;
      margin-bottom: 50px;
      line-height: 1.26;
      @media (max-width: $mobile) {
         margin-bottom: 20px;
      }
   }

   &__body {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      row-gap: 50px;
      @include adaptiveValueREM('column-gap', 30,15,1200, 992, 1);
      @media (max-width: $tablet) {
         grid-template-columns:1fr 1fr;
         grid-template-rows: auto auto auto;
         row-gap: 40px;
      }
      @media (max-width: $mobile) {
         grid-template-columns:1fr;
         grid-template-rows: repeat(6, auto);
         row-gap: 20px;
      }
   }

   &__item {
   }
}
.item-help {
   margin-bottom: 100px;
   @media (max-width: $mobile) {
   margin-bottom: 20px;
   }
   &__img {
      position: relative;
      margin-bottom: 25px;
      img {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
      }
   }

   &__title {
      color: $mainColor;
      font-weight: 500;
      font-size: rem(20);
      line-height: 1.25;
      text-align: center;
      margin-bottom: 15px;
   }

   &__link {
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      display: block;
      padding: 10px 20px;
      background-color: $yellow;
      text-align: center;
      font-weight: 500;
      font-size: rem(14);
      line-height: 1.2666;
      white-space: nowrap;
      width: min-content;
      transition: all 0.3s ease 0s;
      &:hover{
         background-color: $mainColor;
         color: $yellow;
      }
   }
}

/*==========================HELP==========================*/

/*==========================QUESTIONS==========================*/
.questions {
   margin-bottom: 100px;
   @media (max-width: $mobile) {
   margin-bottom: 60px;
   }

   &__container {
      position: relative;
      &::before{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 12px;
         height: 100%;
         background-color: $yellow;
      }
   }

   &__body {
      position: relative;
      padding-top: 20px;
      @include adaptiveValueREM('margin-left',40,10,1200, 992, 1);
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @media (max-width: $tablet) {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 7px;
      }
   }

   &__text {
      text-align: left;
      max-width: 480px;
      @include adaptiveValueREM('margin-right',70,35,1200, 992, 1);
      @media (max-width: $tablet) {
      margin-right: unset;
      margin-bottom: 40px;
      }
   }

   &__list {
      width: 600px;
      @media (max-width: $tablet) {
         width: unset;
         @include adaptiveValueREM('width', 600,290,768,320,1);
      }
   }
}
.text-questions {

   &__title {
      @include adaptiveValueREM('font-size', 50,24);
      color: $title;
      font-weight: 800;
      //line-height: 1.26;
      margin-bottom: 20px;
      position: relative;
      top:-12px; //ADDED
      @media (max-width: $tablet) {
         top: 0;
         line-height: 1.26;
      }
   }

   &__text {
      color: $text;
      line-height: 18px;
      p{
         &:not(:last-child){
         margin-bottom: 35px;
         }
      }
   }
}
.list-questions {

   &__item {
      position: relative;
      padding: 25px 0;
      &:first-child{
         padding: 0 0 25px 0;
      }
      &::after{
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 1px;
         background-color: #E0E0E0;
      }
   }

   &__item-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span{
         &:first-child{
            color: $mainColor;
            font-weight: 500;
            font-size: rem(20);
            line-height: 1.25;
            cursor: pointer;
            @media (max-width: $tablet) {
            margin-right: 15px;
            }
         }
         &:last-child{
            position: relative;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: $yellow;
            flex: 0 0 auto;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            &::before{
               content: '';
               position: absolute;
               top: 50%;
               left:50%;
               transform: translate(-50%, -50%);
               width: 15px;
               height: 3px;
               background-color: #fff;
               transition: all 0.3s ease 0s;
            }
            &::after{
               content: '';
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               width: 3px;
               height: 15px;
               background-color: #fff;
               transition: all 0.3s ease 0s;
            }
            @media (pointer: fine) {
               &:hover {
                  background-color: $blue;
                  &::before, &::after{
                     background-color: $yellow;
                  }
               }
            }
            &.active{
               background-color: $mainColor;
               &::before, &::after{
                  background-color: $yellow;
               }
               &::after{
                  transform: translate(-50%, -50%) rotate(90deg);
               }
               @media (pointer: fine) {
               &:hover {
                  background-color: $blue;
                  &::before, &::after{
                     background-color: #fff ;
                  }
               }
               }
            }
         }
      }
   }

   &__item-answer {
      display: none;
      margin-top: 30px;
      color: $text;
      line-height: 18px;
   }
   &__item-color{
      color: $blue;
      font-weight: bold;
   }
}
/*==========================QUESTIONS==========================*/

/*==========================CHARITY==========================*/
.charity {

   position: relative;
   background-image: url('/img/home/charity.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   margin-bottom: 100px;
   @media (max-width: $mobile) {
   margin-bottom: 60px;
   }

   &__container {
 /*     position: relative;
      padding-bottom: 40%;*/
   }

   &__body {
     padding-top: 100px;
     padding-bottom: 75px;
  /* position: absolute;
   height: 100%;
   width: 100%;
   top: 100px;
   left: 0;*/
   }

   &__title {
      @include adaptiveValueREM('font-size', 50,24);
      color: #fff;
      font-weight: 800;
      line-height: 1.26;
      margin-bottom: em(50, 50);
      text-align: center;
   }

   &__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 225px 225px;
      @include adaptiveValueREM('row-gap', 30,15,1200, 992, 1);
      @include adaptiveValueREM('column-gap', 30,15,1200, 992, 1);
      @media (max-width: $tablet) {
         grid-template-columns:277px 277px;
         grid-template-rows: repeat(4, 225px);
         justify-content: center;
      }
      @media (max-width: $mobile) {
         grid-template-columns:277px;
         grid-template-rows: repeat(8, 225px);
      }
   }

   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      transition: all 0.3s ease 0s;   
      @media (pointer: fine) {
         &:hover {
            background-color: $blue;
            .item-charity__icon{
               color: $yellow;
            }
            .item-charity__icon-block{
               background-color: #fff;
            }
            .item-charity__title{
               color: #fff;
            }
         }
      }
   }
}
.item-charity {

   &__icon-body{
      position: relative;
      width: 80px;
      height: 80px;
      margin-bottom: 15px;
   }


   &__icon {
      position: absolute;
      font-size: rem(40);
      padding: 20px;
      transition: all 0.3s ease 0s;
      overflow: visible;
      color: $blue;
      opacity: 1;
      font-weight: 500;
      z-index: 2;
      transition: all 0.3s ease 0s;

   }

   &__icon-block{
      background-color: $yellow;
      width: 80px;
      height: 80px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      opacity: 0.15;
      transition: all 0.3s ease 0s;
   }

   &__title {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.5;
      color: $mainColor;
      transition: all 0.3s ease 0s;    
   }
}

/*==========================CHARITY==========================*/

/*==========================POPUOP-VIDEO==========================*/
#video{
   .popup__content{
      flex-direction: column;
   }
   .popup__video {
      video {
         position: relative;
         width: 100%;
         height: 100%;
      }
   }
   .item-help__link{
      @media (pointer: fine) {
         &:hover {
            background-color: $blue;
            color: #fff;
         }
      }
   }
}

/*==========================POPUOP-VIDEO==========================*/